/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'League Spartan';
    src: url('fonts/leaguespartan-bold.eot');
    src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguespartan-bold.woff2') format('woff2'),
         url('fonts/leaguespartan-bold.woff') format('woff'),
         url('fonts/leaguespartan-bold.ttf') format('truetype'),
         url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

html, body {
	background: #578192;
	font-family: 'Montserrat', sans-serif;
	color: #F6F8F8;
}

/* Layout - default (mobile first) */

a,
a:hover,
a:visited {
	color: #F6F8F8; 
}

ul, li {
	padding: 0;
  margin: 0 0 0 0.5em
}

header, .intro, .page {
	padding: 1em; 
}

header,footer {
	background-image: url(../img/border.svg);
	background-repeat: repeat-x;
	background-position: bottom;
}
header {
	position: relative;
}
	header h1 {
 		margin: 0;
		padding: 0;
		font-size: 1em;
	}
	header h2 {
		font-size: 0.7em;
		margin-bottom: 0;
	}
	header ul {
		font-family: 'League Spartan';
		top: 0;
		right: 0;
		list-style-type: none;
		padding: 0 0 15px 0;
		margin: 0;
		display: flex;
		font-weight: bold;
		font-size: 0.8em;
		justify-content: flex-start;
	}
		header ul li {
			margin: 0 10px 0 0;
			padding: 0;		
		}

	@media only screen and (min-width: 660px) {
		header ul {
			margin-top: 5px;
			font-size: 0.80em;
			position: absolute;
			padding: 15px 10px;
			font-size: 0.8em;
			justify-content: flex-end;
		}
			header h2 {
				padding-right: 170px;	
			}
	}
	@media only screen and (min-width: 800px) {
		header h2 {
			max-width: 100%;
		}
	}
.intro {
	background-color: #F6F8F8;
	color: #578192;
	padding-top: 2em;
	padding-bottom: 2em;
	-webkit-box-shadow: inset 0px 0px 15px 1px #aaa; 
	box-shadow: inset 0px 0px 15px 1px #aaa;
}
	.intro h2 {
		padding: 0;
		margin: 0;
		color: #578192;	
		text-transform: uppercase;
	}
	.intro p {
		margin-top: 0;
	}
	.intro ul {}
		.intro ul a {
			color: #578192;
		}

.details {
	text-align: center;
}
	.details img {
    display: block;
    margin: 10px auto 40px auto;
	}
	.details img.small {
		height: 80px;
	}
	.details img.smaller {
		height: 60px;
	}
	.details img.big {
		height: 50px;
	}
	.details ul {
    text-align: left;
    max-width: 80%;
    margin-left: 10%;
	}
footer {
	padding: 20px 20px 15px 20px;
}
	
	footer .sponsors {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	footer p,
	footer h3 {
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 10px 0 0 0;
	}
	footer img {
		height: 75px;
		margin: 15px;
	}
		footer img.square {
			width: 100px;
			height: auto;
		}
		footer img.cma_logo {
			width: 80%;
			max-width: 290px;
			height: auto;
			margin: 10px auto;
			display: block;
		}

	footer .sponsors-section {
		border-top: 1px solid #7c9daa;
		padding: 30px 0 0 0;
		margin: 30px 0 0 0;
	}
		footer .sponsors-images {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			justify-content: center;
		}

/* Layout for tablets */

@media (min-width: 900px){
	.columns {
		display: flex;
		flex-wrap: wrap;
	}

	.col {
		width: 50%;
	}
	
		.col .wrapper {
			padding: 0 2em 2em 0;
		}

		header h1{
			margin-right: 20px
		}
		header h2 {
			margin-top: 4px;
		}

	.details {
		text-align: left;
	}
		.details img {
			margin: 10px 0 40px 0;
		}
		.details ul {
    	max-width: 90%;
    	margin-left: 2%;
	}
}

/* Layout for bigger screens */
@media (min-width: 1024px){
	.intro {
		background-repeat: no-repeat;
		background-position: center right;
		padding-right: 520px;
		min-height: 220px;
	}
		.intro.index {
			background-image: url(../img/banner_background.png);
		}
		.intro.support {
			background-image: url(../img/banner_background_2.png);
		}
}

/* Fonts */
h1,h2,h3,h4,h5 {
	font-family: 'League Spartan';
	color: #FFF;
}












 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


